<h2>ADD USER</h2>
<form [formGroup]="addUserForm"(ngSubmit)="onSubmit()"> 
    <div>
        <label for="name">Name</label>
        <input id="name" formControlName="name"/>
        <div *ngIf="addUserForm.get('name')?.invalid && addUserForm.get('name')?.touched">
        </div>
    </div>    

    <div>
        <label for="email">Email</label>
        <input id="email" formControlName="email"/>
        <div *ngIf="addUserForm.get('email')?.invalid && addUserForm.get('email')?.touched">
            <span *ngif="addUserForm.get('email').errors?.['required']">Email is required.</span>
            <span *ngif="addUserForm.get('email').errors?.['email']">Email Format is invalid,Try again.</span>
        </div>    
    </div>    

    <div>
        <label for="password">Password</label>
        <input id="password" formControlName="password"/>
        <div *ngIf="addUserForm.get('password')?.invalid && addUserForm.get('password')?.touched">
          
        </div>
    </div>   

    <button type="submit"[disabled]="addUserForm.invalid">ADD USER</button>
</form>
